$box-content-color: dimgray;
$box-content-color-selected: black;
$box-background-color: transparent;
$box-background-color-selected: dimgray;
$box-background-color-blink: gainsboro;
$box-background-color-active: #202020;
$box-border-width: 1px;
$box-border-style: solid;
$box-border-color: #303030;
$box-border-color-selected: $box-background-color-selected;
$box-border-color-hover: white;
$box-border-color-active: darkgray;
$box-border-radius: 6px;
$box-border-radius-small: 3px;
